body {
    background-color: black;
    color: white;
}

body button {
    font-weight: bold;
    font-family: Arial, sans-serif;
    background-color: purple;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}


.timer {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

#button {
    font-weight: bold;
}

.questions {
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
}

.high-scores {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    font-family: Arial, sans-serif;
    pointer-events: auto;
}

.start-page {
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
}

.go-back {
    display: inline-block;
    background-color: purple;
    color: white;

}

.clear {
    display: inline-block;
    background-color: purple;
    color: white;
}

.wrapper {
    text-align: center;
    top: 50%;
    left: 50%;
    bottom: 50%;
    display: none;
}

.end-game {
    text-align: center;
    top: 50%;
    left: 50%;
    display: none;
}